# Анализ и визуализация данных

## Лабораторная работа 2. Модуль `random` и введение в обработку данных с библиотекой `pandas`

### Модуль `random` и псевдослучайный выбор

Импортируем модуль `random` с сокращённым названием:

In [1]:
import random as rd

Если мы хотим (псевдо)случайным образом выбрать одно целое число из заданного интервала, пригодится функция `randrange()`:

In [2]:
# от 1 до 100, правый конец исключается

rd.randrange(1, 101)

37

Для воспроизводимости результатов мы можем зафиксировать стартовую точку алгоритма (*seed*), тогда у всех при запуске кода будут получаться одинаковые результаты:

In [3]:
rd.seed(2525)
x = rd.randrange(1, 101)
print(x)

38

Если мы хотим получить набор сразу из нескольких чисел, лучше воспользоваться функцией `sample` и в качестве генеральной совокупности указать желаемый интервал чисел:

In [4]:
rd.sample(population = range(1, 101), k = 10)

[21, 93, 58, 22, 70, 7, 30, 88, 71, 5]

In [5]:
rd.seed(999)
rd.sample(population = range(1, 101), k = 10)

[87, 11, 73, 74, 69, 63, 62, 17, 83, 41]

Что удобно, эту же функцию можно использовать и для случайного выбора из нечисловых списков:

In [6]:
names = ["Harry", "Ron", "Hermiona", "Neville", "Luna"]
rd.seed(11)
rd.sample(names, 2)

['Neville', 'Luna']

### Загрузка и обработка данных с `pandas`

Импортируем библиотеку `pandas` с сокращённым названием:

In [7]:
import pandas as pd

В этой части практикума предлагается поработать с данными из файла `beasts.csv`, который содержит характеристики фантастических существ. Переменные в таблице:

* `Name`: название существа;
* `Class`: вид существа (если есть, если нет, дублируется название); 
* `Classification`: классификация Министерства Магии по уровням опасности;
* `Colour`: цвет тела;
* `Eye`: цвет глаз;
* `Native`: происхождение и распространение;
* `Size`: размер в дюймах.

Загрузим данные из CSV-файла:

In [8]:
beasts = pd.read_csv("beasts.csv")

Запросим информацию по загруженной таблице:

In [9]:
beasts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      81 non-null     int64
 1   Name            81 non-null     object
 2   Class           81 non-null     object
 3   Classification  81 non-null     object
 4   Colour          81 non-null     object
 5   Eye             80 non-null     object
 6   Native          81 non-null     object
 7   Size            28 non-null     float64
 8   Dragon          81 non-null     int64
 9   Danger2         81 non-null     int64
 10  Danger3         81 non-null     object
dtypes: float64(1), int64(3), object(7)
memory usage: 7.1+ KB

In [10]:
beasts.shape

(81, 11)

### Задача 1

Выведите на экран список названий существ (переменная `Name`), отсортированный по алфавиту.

In [11]:
sorted_names = sorted(beasts['Name'])
print(sorted_names)

['Acromantula', 'Antipodean Opaleye', 'Ashwinder', 'Augurey', 'Basilisk', 'Billywig', 'Bowtruckle', 'Bundimun', 'Centaur', 'Chimaera', 'Chinese Fireball', 'Chizpurfle', 'Clabbert', 'Common Welsh Green', 'Crup', 'Demiguise', 'Diricawl', 'Doxy', 'Erkling', 'Erumpent', 'Fairy', 'Fire Crab', 'Flobberworm', 'Fwooper', 'Ghoul', 'Glumbumble', 'Gnome', 'Golden Snidget', 'Graphorn', 'Griffin', 'Grindylow', 'Hebridean Black', 'Hippocampus', 'Hippogriff', 'Horklump', 'Hungarian Horntail', 'Imp', 'Jarvey', 'Jobberknoll', 'Kappa', 'Kelpie', 'Knarl', 'Kneazle', 'Leprechaun', 'Lethifold', 'Lobalug', 'Mackled Malaclaw', 'Manticore', 'Merpeople', 'Moke', 'Mooncalf', 'Murtlap', 'Niffler', 'Nogtail', 'Norwegian Ridgeback', 'Nundu', 'Occamy', 'Peruvian Vipertooth', 'Phoenix', 'Pixie', 'Plimpy', 'Pogrebin', 'Porlock', 'Puffskein', 'Quintaped', "Re'em", 'Red Cap', 'Romanian Longhorn', 'Runespoor', 'Salamander', 'Sea serpent', 'Sphinx', 'Streeler', 'Swedish Short-Snout', 'Tebo', 'Thestral', 'Troll', 'Ukrainian Ironbelly', 'Unicorn', 'Werewolf', 'Yeti']

### Задача 2

Определите, существ какого вида (переменная `Class`) больше всего.

In [12]:
print(beasts['Class'].describe(include="objects")["top"])

Dragon

### Задача 3

Определите число уникальных значений цветов глаз существ (переменная `Eye`).

In [13]:
unique_eye_colors1 = beasts['Eye'].nunique()
#Что больше нравится
unique_eye_colors2 = beasts['Eye'].describe(include="objects")["unique"]
print(unique_eye_colors1)
print(unique_eye_colors2)

17
17

### Задача 4

Добавьте в таблицу новый признак `Dragon`, который будет представлять собой закодированный вид существа: 1, если это дракон, 0 – во всех остальных случаях (переменная `Class`).

In [14]:
beasts['Dragon'] = (beasts['Class'] == 'Dragon').astype(int)
beasts.to_csv("beasts.csv", index=False)

### Задача 5

Добавьте в таблицу новый признак `Danger2`, который будет представлять собой закодированный уровень опасности существа (переменная `Classification`): 0, если уровень опасности по классификации Министерства Магии `X` или `XX`, 1, если уровень опасности по классификации Министерства Магии `XXX`, `XXXX` или `XXXXX`.

In [15]:
beasts['Danger2'] = beasts['Classification'].apply(lambda x: 0 if x in ['X', 'XX'] else 1)
beasts.to_csv("beasts.csv", index=False)

### Задача 6

Добавьте в таблицу новый признак `Danger3`, который будет представлять собой закодированный уровень опасности существа: 

* `High`: если класс Министерства Магии равен 4 или 5 (`XXXX` или `XXXXX`); 
* `Medium`: если класс Министерства Магии равен 3 (`XXX`);
* `Low`: если класс Министерства Магии равен 1 или 2 (`X` и `XX`).

In [16]:
def classify_danger(classification):
    if classification in ['XXXX', 'XXXXX']:
        return 'High'
    elif classification == 'XXX':
        return 'Medium'
    else:
        return 'Low'

beasts['Danger3'] = beasts['Classification'].apply(classify_danger)
beasts.to_csv("beasts.csv", index=False)

### Задача 7

Выберите строки, соответствующие драконам, и сохраните эти строки в датафрейм `dragons`.

In [17]:
dragons = beasts[beasts['Dragon'] == 1]
print(dragons)

    Unnamed: 0                 Name   Class Classification  \
3            3   Antipodean Opaleye  Dragon          XXXXX
4            4     Chinese Fireball  Dragon          XXXXX
5            5   Common Welsh Green  Dragon          XXXXX
6            6      Hebridean Black  Dragon          XXXXX
7            7   Hungarian Horntail  Dragon          XXXXX
8            8  Norwegian Ridgeback  Dragon          XXXXX
9            9  Peruvian Vipertooth  Dragon          XXXXX
10          10    Romanian Longhorn  Dragon          XXXXX
11          11  Swedish Short-Snout  Dragon          XXXXX
12          12  Ukrainian Ironbelly  Dragon          XXXXX

                  Colour               Eye       Native   Size  Dragon  \
3                 Pearly    Multi-coloured  New Zealand    NaN       1
4                Scarlet            Yellow        China  300.0       1
5                  Green           No data        Wales  216.0       1
6                   Dark  Brilliant purple     Scotland  360.0       1
7                  Black            Yellow      Hungary  600.0       1
8             Dark green           No data       Norway    NaN       1
9                 Copper           No data         Peru  180.0       1
10            Dark green           No data      Romania  480.0       1
11          Silvery blue           No data       Sweden  264.0       1
12  Metallic grey-silver          Deep red      Ukraine    NaN       1

    Danger2 Danger3
3         1    High
4         1    High
5         1    High
6         1    High
7         1    High
8         1    High
9         1    High
10        1    High
11        1    High
12        1    High

### Задача 8

Выберите строки, соответствующие существам размером не менее 180 дюймов (переменная `Size`). Выведите уникальные названия видов этих существ.

In [18]:
large_beasts = beasts[beasts['Size'] >= 180]
unique_classes = large_beasts['Class'].unique()
print(unique_classes)

['Acromantula' 'Basilisk' 'Dragon' 'Occamy' 'Yeti']

### Задача 10

Выберите строки, соответствующие существам с классом Министерства Магии не ниже 4 и имеющим желтые глаза (`Yellow`). Сохраните эти строки в датафрейм `dang_yellow` и посчитайте число таких существ.

In [19]:
dang_yellow = beasts[(beasts['Classification'].isin(['XXXX', 'XXXXX'])) & (beasts['Eye'] == 'Yellow')]
count_dang_yellow = len(dang_yellow)

print(f'Существа с классом магии 4 и выше с жёлтыми глазами:\n{dang_yellow}\n')
print(f"Колличество таких существ: {count_dang_yellow}")

Существа с классом магии 4 и выше с жёлтыми глазами:
    Unnamed: 0                Name     Class Classification  \
1            1            Basilisk  Basilisk          XXXXX
4            4    Chinese Fireball    Dragon          XXXXX
7            7  Hungarian Horntail    Dragon          XXXXX
20          20             Erkling   Erkling           XXXX
23          23             Griffin   Griffin           XXXX

                         Colour     Eye   Native   Size  Dragon  Danger2  \
1                         Green  Yellow   Greece  600.0       0        1
4                       Scarlet  Yellow    China  300.0       1        1
7                         Black  Yellow  Hungary  600.0       1        1
20                        Green  Yellow  Germany   36.0       0        1
23  Brownish-yellow|White|Brown  Yellow   Greece    NaN       0        1

   Danger3
1     High
4     High
7     High
20    High
23    High

Колличество таких существ: 5

### Задача 11

Выберите строки, соответствующие существам, обитающим в Северной или Южной Америке (значения переменной `Native`, содержащие слово `America`) и сохраните их в датафрейм `beasts_am`.

In [20]:
beasts_am = beasts[beasts['Native'].str.contains('America', na=False)]
print(beasts_am)

    Unnamed: 0         Name        Class Classification              Colour  \
29          29        Re'em        Re'em           XXXX              Golden
42          42         Doxy         Doxy            XXX  Purple|Brown|Black
48          48       Jarvey       Jarvey            XXX               Brown
49          49        Knarl        Knarl            XXX               Brown
57          57      Nogtail      Nogtail            XXX             No data
72          72        Gnome        Gnome             XX          Brown|Lime
75          75  Jobberknoll  Jobberknoll             XX       Speckled blue

        Eye                                     Native  Size  Dragon  Danger2  \
29  No data                     North America|Far East   NaN       0        1
42  No data                       North America|Europe   NaN       0        1
48    Black        Great Britain|Ireland|North America   NaN       0        1
49    Black                       Europe|North America   NaN       0        1
57    Black  Europe|Russia|North America|South America   NaN       0        1
72  No data                       Europe|North America  12.0       0        0
75    Black                       Europe|North America   NaN       0        0

   Danger3
29    High
42  Medium
48  Medium
49  Medium
57  Medium
72     Low
75     Low

### Задача 12

Выберите строки, соответствующие пяти случайно выбранным существам ниже:

In [21]:
rd.seed(1234)
chosen = rd.sample(list(beasts["Name"]), 5)
print(chosen)

['Niffler', 'Manticore', 'Acromantula', 'Swedish Short-Snout', 'Imp']

In [22]:
selected_beasts = beasts[beasts['Name'].isin(chosen)]
print(selected_beasts)

    Unnamed: 0                 Name        Class Classification        Colour  \
0            0          Acromantula  Acromantula          XXXXX     Jet-Black
11          11  Swedish Short-Snout       Dragon          XXXXX  Silvery blue
14          14            Manticore    Manticore          XXXXX        Golden
56          56              Niffler      Niffler            XXX         Black
74          74                  Imp          Imp             XX          Grey

        Eye                 Native   Size  Dragon  Danger2 Danger3
0     Black       Island of Borneo  180.0       0        1    High
11  No data                 Sweden  264.0       1        1    High
14  No data                 Greece    NaN       0        1    High
56  No data          Great Britain    NaN       0        1  Medium
74   Yellow  Great Britain|Ireland    7.0       0        0     Low